html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

button, form, input {
    margin: 10px;
}

h1 {
    background-color: navy;
    width: calc(100% - 4px);
    color: whitesmoke;
    padding: 30px 10px;
    margin: -8px;
    text-align: center;
}

#stockButtons {
    margin-top: 15px;
}

#stockButtons button {
    background-color: navy;
    color: whitesmoke;
    border: solid 2px black;
    font-weight: bold;
    font-size: 16px;
}

#stockButtons button:focus {
    outline: none;
}

#addStock {
    background-color: navy;
    color: whitesmoke;
    border: solid 2px black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    padding: 4px 8px;
}

#addStock:focus {
    outline: none;
}

table, th, td {
    border: solid 3px black;
    border-collapse: collapse;
}

th {
    padding: 2px;
    background-color: navy;
    color: whitesmoke;
}

.logo img {
    margin: -1px -1px -5px;
}

.center {
    text-align: center;
}

li {
    padding: 10px;
}

input {
    font-size: 16px;
}